@model List<AudioCore.Entity.AudioEntity>
@{
    ViewBag.Title = "甘孜藏族自治州民族博物馆";
    Layout = "~/Views/Shared/_MobileLayout.cshtml";
    string oldClassTwo = "";
}

<div class="header-logo" style="position:absolute;">
    <div style="width:100%; height:165px;">
        <img src="@Url.Content("~/assets/mobile/images/手机界面_02.png")" />
    </div>
    <div style="width:100%; height:70px; margin-top:5px;">
        <div style="width:30%; height:100%; float:left; padding-left:10px;"> <a href="@Url.Action("ListOne","Mobile")"><img src="@Url.Content("~/assets/mobile/images/s1.png")" /></a></div>
        <div style="width:30%; height:100%; float:left; padding-left:10px;"> <a href="@Url.Action("ListTwo","Mobile")"><img src="@Url.Content("~/assets/mobile/images/s2.png")" /></a></div>
        <div style="width:30%; height:100%; float:left; padding-left:10px;"> <a href="@Url.Action("ListThree", "Mobile")"><img src="@Url.Content("~/assets/mobile/images/g3.png")" /></a></div>
    </div>
    @foreach (var item in Model)
    {
        if (item.ClassTWO != oldClassTwo)
        {
            <div style="width:100%; height:30px;text-align:left; size:24px; padding-top:10px; padding-left:5px; background-color:#EFEFEF; margin-top:5px;"> <b>@item.ClassTWOExp</b></div>
        }
        <div style="width:100%; height:70px; margin-top:10px">
            <a href="@Url.Action("Index", "Mobile", new { id= item.Id })">
                @if (!string.IsNullOrEmpty(item.TopImageUrl))
                {
                    <div style="width:15%; height:100%; float:left; margin-left:10px">
                        <img src=" @Url.Content("~/" + item.TopImageUrl) " width=" 70" height="70" />
                    </div>
                }

                <div style="width:73%; height:100%; float:left; margin-left:10px;text-align:left; size:24px; "><b>@item.Title</b> <br />@item.ContentMini</div>
            </a>
        </div>
                oldClassTwo = item.ClassTWO;
    }


</div>
