@{

}
<!DOCTYPE HTML PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN"
          "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html>
<head>
    <!--Custom Theme files-->
    <link href="@Url.Content("~/assets/mobile/css/style.css")" rel="stylesheet" type="text/css" media="all" />
    <!--Custom Theme files-->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewBag.Title</title>
    @RenderSection("styles", false)

    <script>
            var OP_CONFIG = {
                rootUrl: '@Url.Content("~")'
            };
    </script>
    @RenderSection("scripts", false)
</head>
<body>
    <!--- header-top ---->
    <div id="home" class="header-top">
        <!--- container ---->
        <div class="container">
            @RenderBody()
        </div>
    </div>
    <script type="text/javascript" src="@Url.Content("~/assets/js/lib/require.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/assets/js/main.js")"></script>
</body>
</html>
