@model AudioCore.Entity.AudioEntity
@{
    ViewBag.Title = "详情";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string currNode = (string)ViewBag.currNode;

    string badge = HttpContext.Current.User.Identity.Name;
}


@section styles {
    <link rel="stylesheet" href="@Url.Content("~/assets/plugins/datepicker/bootstrap-datepicker.min.css")" />
}

<div class="container page-body">
    <div class="panel panel-danger">
        <div class="panel-heading">
            <h5>
                语音播放文件
            </h5>
            <input id="audioId" type="hidden" value="@Model.Id" />
        </div>
        <div class="panel-body">
            <div class="row item-row">
                <div class="col-md-4">
                    <div class="item-name">标题：</div>
                    <div class="item-static"><input type="text" value="@Model.Title" id="title"/></div>
                </div>
                <div class="row item-row">
                    <div class="col-md-4">
                        <div class="item-name">位置：</div>
                        <div class="item-static"><input type="text" value="@Model.Location" id="location" /></div>
                    </div>

                </div>
                <div class="row item-row">
                    <div class="col-md-4">
                        <div class="item-name">排序：</div>
                        <div class="item-static"><input type="text" value="@Model.orderNum" id="order" /></div>
                    </div>

                </div>
            </div>
            
            <div class="row item-row">
                <div class="col-md-12" >
                    <div class="item-name">简介内容：</div>
                    <div class="item-static"><textarea id="content">@Model.Content</textarea></div>
                </div>

            </div>
            <div class="row item-row" style="height:50px">
                <div class="col-md-4">
                    <div class="item-name">建立时间：</div>
                    <div class="item-static"><input type="text" value="@Model.CreateTimeExp" class="form-control datepicker"  readonly id="createTime" width="120px" /> </div>
                </div>
                <div class="col-md-4">
                    <div class="item-name">状态：</div>
                    <div class="item-static">@Model.State</div>
                </div>
                
            </div>
            <div class="row item-row" style="height:50px">
                <div class="col-md-12">
                    <div class="item-name">备注：</div>
                    <div class="item-static"><textarea id="Remark">@Model.Remark</textarea> </div>
                </div>


            </div>
            <div class="row item-row">
                <div class="col-md-4">
                    <div class="item-name">二维码：</div>
                    <div class="item-control">
                            <input type="hidden" value="@Model.QrCodeFile" id="QrcodeFile" />
                            <img src="~/upload/@Model.QrCodeFile" width="180" height="180" />
                    </div>
                </div>
            </div>
            
            <div class="row item-row">
                <div class="col-md-12">
                    <div class="item-name">音乐文件：</div>
                    <div class="item-static">
                        <div class="item-control">
                            <button class="btn btn-sm btn-primary" id="select-attachment">　附件　</button>
                        </div>
                        <div class="item-control uploadify-queue">
                            @if(Model.AudioFile!=null)
                            {
                                <div id="" class="finish-queue-item">
                                    @foreach (var item in Model.AudioFile)
                                    {
                                        <span class="file-name" title="@item.FileName">@item.FileName</span>
                                        <a class="file-operate" href="@Url.Content("~/Common/DownloadAttachment?id=" + @item.Id)">下载</a><br>
                                    }

                                    
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="row item-row">
                <div class="col-md-12">
                    <div class="panel-option">
                        @if (Model.Id!=0)  {<button class="btn btn-sm btn-primary" id="buildQrCode">重新生成二维码</button>}
                        @if (Model.Id != 0){<button class="btn btn-sm btn-primary" id="deletAudio">删除</button>}                                                                                                                   
                        <button class="btn btn-sm btn-primary" id="save">保存</button>
                        <button class="btn btn-sm btn-primary" id="cancel">取消</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    


</div>

@section scripts {
    <script>
        OP_CONFIG.module = 'home';
        OP_CONFIG.page = 'Detial';
    </script>
}

